<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common/add.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,223},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>common/arrow_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,306},{96,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,104}}</string>
                <key>sourceSize</key>
                <string>{96,104}</string>
            </dict>
            <key>common/batteryBorder.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,20},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>common/batteryLev.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,20},{35,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,21}}</string>
                <key>sourceSize</key>
                <string>{35,21}</string>
            </dict>
            <key>common/btnClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,223},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>common/btnClose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,223},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>common/btnNOBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,99},{133,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,55}}</string>
                <key>sourceSize</key>
                <string>{133,55}</string>
            </dict>
            <key>common/btnNOBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,99},{133,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,55}}</string>
                <key>sourceSize</key>
                <string>{133,55}</string>
            </dict>
            <key>common/btnOKBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,99},{133,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,55}}</string>
                <key>sourceSize</key>
                <string>{133,55}</string>
            </dict>
            <key>common/btnOKBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,99},{133,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,55}}</string>
                <key>sourceSize</key>
                <string>{133,55}</string>
            </dict>
            <key>common/btnReturn.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,306},{72,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>common/btnReturn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,306},{72,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,84}}</string>
                <key>sourceSize</key>
                <string>{72,84}</string>
            </dict>
            <key>common/btn_agree1.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,159},{148,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,59}}</string>
                <key>sourceSize</key>
                <string>{148,59}</string>
            </dict>
            <key>common/btn_agree2.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,159},{148,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,59}}</string>
                <key>sourceSize</key>
                <string>{148,59}</string>
            </dict>
            <key>common/btn_agree3.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,159},{148,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,59}}</string>
                <key>sourceSize</key>
                <string>{148,59}</string>
            </dict>
            <key>common/btn_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,223},{175,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,69}}</string>
                <key>sourceSize</key>
                <string>{175,69}</string>
            </dict>
            <key>common/btn_go2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,223},{175,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,69}}</string>
                <key>sourceSize</key>
                <string>{175,69}</string>
            </dict>
            <key>common/btn_refuce1.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,159},{148,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,59}}</string>
                <key>sourceSize</key>
                <string>{148,59}</string>
            </dict>
            <key>common/btn_refuce2.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,159},{148,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,59}}</string>
                <key>sourceSize</key>
                <string>{148,59}</string>
            </dict>
            <key>common/btn_refuce3.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,159},{148,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,59}}</string>
                <key>sourceSize</key>
                <string>{148,59}</string>
            </dict>
            <key>common/btn_voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,306},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>common/btn_voice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,306},{85,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,86}}</string>
                <key>sourceSize</key>
                <string>{85,86}</string>
            </dict>
            <key>common/check.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,223},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>common/checkBall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,223},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>common/checkPoint1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>common/checkPoint2.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,306},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>common/check_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,223},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>common/common_dlg_nobtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{148,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,62}}</string>
                <key>sourceSize</key>
                <string>{148,62}</string>
            </dict>
            <key>common/common_dlg_nobtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,159},{148,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,62}}</string>
                <key>sourceSize</key>
                <string>{148,62}</string>
            </dict>
            <key>common/common_dlg_okbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,223},{148,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,62}}</string>
                <key>sourceSize</key>
                <string>{148,62}</string>
            </dict>
            <key>common/common_dlg_okbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,159},{148,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,62}}</string>
                <key>sourceSize</key>
                <string>{148,62}</string>
            </dict>
            <key>common/diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,50},{52,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,47}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>common/diamond2.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,50},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>common/dropdownlist_Disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,99},{36,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,56}}</string>
                <key>sourceSize</key>
                <string>{36,56}</string>
            </dict>
            <key>common/dropdownlist_Split.png</key>
            <dict>
                <key>frame</key>
                <string>{{1063,2},{249,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,3}}</string>
                <key>sourceSize</key>
                <string>{249,3}</string>
            </dict>
            <key>common/dropdownlist_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,99},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>common/dropdownlist_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{22,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,12}}</string>
                <key>sourceSize</key>
                <string>{22,12}</string>
            </dict>
            <key>common/dropdownlist_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,99},{30,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,50}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>common/dropdownlist_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,20},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>common/game_progress_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,223},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>common/gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,99},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>common/horizLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1059,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1059,2}}</string>
                <key>sourceSize</key>
                <string>{1059,2}</string>
            </dict>
            <key>common/info_id_ttf.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,20},{39,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
            <key>common/info_ip_ttf.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,20},{39,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
            <key>common/info_name_ttf.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,20},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,26}</string>
            </dict>
            <key>common/info_signature_ttf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,20},{68,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{68,26}</string>
            </dict>
            <key>common/input.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,223},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>common/mic.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,306},{74,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,100}}</string>
                <key>sourceSize</key>
                <string>{74,100}</string>
            </dict>
            <key>common/mobile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,20},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>common/mobile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,20},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>common/mobile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,20},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>common/mobile4.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,20},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>common/mobile5.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,20},{33,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,20}}</string>
                <key>sourceSize</key>
                <string>{33,20}</string>
            </dict>
            <key>common/popBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,306},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>common/popBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,306},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>common/popBorder.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,223},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>common/pop_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,20},{47,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,18}}</string>
                <key>sourceSize</key>
                <string>{47,18}</string>
            </dict>
            <key>common/pop_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,223},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>common/progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,50},{338,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,29}}</string>
                <key>sourceSize</key>
                <string>{338,29}</string>
            </dict>
            <key>common/progress_fore.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,50},{338,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,29}}</string>
                <key>sourceSize</key>
                <string>{338,29}</string>
            </dict>
            <key>common/progress_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,50},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>common/set_account_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,99},{145,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,58}}</string>
                <key>sourceSize</key>
                <string>{145,58}</string>
            </dict>
            <key>common/set_account_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{145,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,58}}</string>
                <key>sourceSize</key>
                <string>{145,58}</string>
            </dict>
            <key>common/sex_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,20},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>common/sex_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,20},{19,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,25}}</string>
                <key>sourceSize</key>
                <string>{19,25}</string>
            </dict>
            <key>common/switch1.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,99},{160,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,53}}</string>
                <key>sourceSize</key>
                <string>{160,53}</string>
            </dict>
            <key>common/switch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,99},{160,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,53}}</string>
                <key>sourceSize</key>
                <string>{160,53}</string>
            </dict>
            <key>common/tip_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,20},{166,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,17}}</string>
                <key>sourceSize</key>
                <string>{166,17}</string>
            </dict>
            <key>common/tip_cancel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,20},{174,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,26}}</string>
                <key>sourceSize</key>
                <string>{174,26}</string>
            </dict>
            <key>common/title_setup.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,306},{286,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,122}}</string>
                <key>sourceSize</key>
                <string>{286,122}</string>
            </dict>
            <key>common/ttf_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,50},{95,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,38}</string>
            </dict>
            <key>common/ttf_audio.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,50},{95,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,38}</string>
            </dict>
            <key>common/ttf_auto.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,20},{57,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,28}}</string>
                <key>sourceSize</key>
                <string>{57,28}</string>
            </dict>
            <key>common/ttf_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,50},{95,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,38}</string>
            </dict>
            <key>common/ttf_czlanguage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,20},{88,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{88,28}</string>
            </dict>
            <key>common/ttf_language.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,50},{94,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,38}}</string>
                <key>sourceSize</key>
                <string>{94,38}</string>
            </dict>
            <key>common/ttf_manual.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{57,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,28}}</string>
                <key>sourceSize</key>
                <string>{57,28}</string>
            </dict>
            <key>common/ttf_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,50},{95,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,38}</string>
            </dict>
            <key>common/ttf_ptlanguage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,20},{88,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,28}}</string>
                <key>sourceSize</key>
                <string>{88,28}</string>
            </dict>
            <key>common/ttf_shake.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,50},{95,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,38}}</string>
                <key>sourceSize</key>
                <string>{95,38}</string>
            </dict>
            <key>common/user_face_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,306},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>common/user_face_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,306},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>common/voiceIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,99},{108,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,55}}</string>
                <key>sourceSize</key>
                <string>{108,55}</string>
            </dict>
            <key>common/voice_border_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>common/volume1.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,20},{33,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,16}}</string>
                <key>sourceSize</key>
                <string>{33,16}</string>
            </dict>
            <key>common/volume2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{40,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,16}}</string>
                <key>sourceSize</key>
                <string>{40,16}</string>
            </dict>
            <key>common/volume3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,2},{48,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,16}}</string>
                <key>sourceSize</key>
                <string>{48,16}</string>
            </dict>
            <key>common/volume4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{59,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,16}}</string>
                <key>sourceSize</key>
                <string>{59,16}</string>
            </dict>
            <key>common/volume5.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,20},{67,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,16}}</string>
                <key>sourceSize</key>
                <string>{67,16}</string>
            </dict>
            <key>common/wifi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,20},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>common/wifi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,20},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>common/wifi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,20},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>common/wifi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,20},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.pvr.ccz</string>
            <key>size</key>
            <string>{1459,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19b4d158b0c1196d3e738167b00cce85:6264f509278f827fc372f5d105760a88:fe85396e058c1bf14e40681d74649805$</string>
            <key>textureFileName</key>
            <string>common.pvr.ccz</string>
        </dict>
    </dict>
</plist>
