<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamerule/blackBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{53,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,43}}</string>
                <key>sourceSize</key>
                <string>{53,43}</string>
            </dict>
            <key>gamerule/btnCreateRule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,146},{267,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,100}}</string>
                <key>sourceSize</key>
                <string>{267,100}</string>
            </dict>
            <key>gamerule/btnCreateRule2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,146},{267,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,100}}</string>
                <key>sourceSize</key>
                <string>{267,100}</string>
            </dict>
            <key>gamerule/btnGame12Rule1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>gamerule/btnGame12Rule2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,74},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>gamerule/btnGame13Rule1.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,74},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>gamerule/btnGame13Rule2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,74},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>gamerule/btnGame14Rule1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>gamerule/btnGame14Rule2.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,146},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>gamerule/btnGame15Rule1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,146},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>gamerule/btnGame15Rule2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,146},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>gamerule/btnGame18Rule1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,74},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>gamerule/btnGame18Rule2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>gamerule/btnGame21Rule1 .png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>gamerule/btnGame21Rule1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,74},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>gamerule/btnGame21Rule2.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>gamerule/btnGame23Rule1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>gamerule/btnGame23Rule2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,2},{259,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,70}}</string>
                <key>sourceSize</key>
                <string>{259,70}</string>
            </dict>
            <key>gamerule/createRuleLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{823,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{823,5}}</string>
                <key>sourceSize</key>
                <string>{823,5}</string>
            </dict>
            <key>gamerule/createRuleMark.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{68,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,53}}</string>
                <key>sourceSize</key>
                <string>{68,53}</string>
            </dict>
            <key>gamerule/createRuleMark2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{83,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,59}}</string>
                <key>sourceSize</key>
                <string>{83,59}</string>
            </dict>
            <key>gamerule/split.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{6,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,57}}</string>
                <key>sourceSize</key>
                <string>{6,57}</string>
            </dict>
            <key>gamerule/tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,2},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
            <key>gamerule/tab_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>sourceSize</key>
                <string>{50,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamerule.pvr.ccz</string>
            <key>size</key>
            <string>{1584,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6cbac91a84ebbf696ba05cb645b8822:b5fee47b56abcce577be051b24de0b2c:eb21b29946704a024dfc7388d72723c7$</string>
            <key>textureFileName</key>
            <string>gamerule.pvr.ccz</string>
        </dict>
    </dict>
</plist>
