<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pai/big_type1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,91}</string>
                <key>textureRect</key>
                <string>{{227,205},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/big_type1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,83}</string>
                <key>spriteSourceSize</key>
                <string>{81,83}</string>
                <key>textureRect</key>
                <string>{{77,205},{81,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/big_type1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,81}</string>
                <key>spriteSourceSize</key>
                <string>{77,81}</string>
                <key>textureRect</key>
                <string>{{0,205},{77,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/big_type1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,87}</string>
                <key>spriteSourceSize</key>
                <string>{69,87}</string>
                <key>textureRect</key>
                <string>{{158,205},{69,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/big_type2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,139}</string>
                <key>spriteSourceSize</key>
                <string>{88,139}</string>
                <key>textureRect</key>
                <string>{{264,438},{88,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/big_type2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,139}</string>
                <key>spriteSourceSize</key>
                <string>{88,139}</string>
                <key>textureRect</key>
                <string>{{88,438},{88,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/big_type2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,139}</string>
                <key>spriteSourceSize</key>
                <string>{88,139}</string>
                <key>textureRect</key>
                <string>{{176,438},{88,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/big_type2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,139}</string>
                <key>spriteSourceSize</key>
                <string>{88,139}</string>
                <key>textureRect</key>
                <string>{{0,438},{88,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/cardback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,185}</string>
                <key>spriteSourceSize</key>
                <string>{138,185}</string>
                <key>textureRect</key>
                <string>{{0,788},{138,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/cardfront.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,185}</string>
                <key>spriteSourceSize</key>
                <string>{140,185}</string>
                <key>textureRect</key>
                <string>{{825,603},{140,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/small_type_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,33}</string>
                <key>spriteSourceSize</key>
                <string>{25,33}</string>
                <key>textureRect</key>
                <string>{{278,0},{25,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/small_type_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{303,0},{31,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/small_type_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,34}</string>
                <key>spriteSourceSize</key>
                <string>{28,34}</string>
                <key>textureRect</key>
                <string>{{334,0},{28,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/small_type_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{249,0},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/type_redjoker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,142}</string>
                <key>spriteSourceSize</key>
                <string>{69,142}</string>
                <key>textureRect</key>
                <string>{{352,438},{69,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,47}</string>
                <key>spriteSourceSize</key>
                <string>{33,47}</string>
                <key>textureRect</key>
                <string>{{877,0},{33,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,49}</string>
                <key>spriteSourceSize</key>
                <string>{45,49}</string>
                <key>textureRect</key>
                <string>{{354,47},{45,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,47}</string>
                <key>spriteSourceSize</key>
                <string>{33,47}</string>
                <key>textureRect</key>
                <string>{{776,0},{33,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,48}</string>
                <key>spriteSourceSize</key>
                <string>{29,48}</string>
                <key>textureRect</key>
                <string>{{210,47},{29,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,49}</string>
                <key>spriteSourceSize</key>
                <string>{29,49}</string>
                <key>textureRect</key>
                <string>{{298,47},{29,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,47}</string>
                <key>spriteSourceSize</key>
                <string>{34,47}</string>
                <key>textureRect</key>
                <string>{{809,0},{34,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{89,47},{31,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{29,47}</string>
                <key>textureRect</key>
                <string>{{60,47},{29,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{120,47},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{268,47},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,49}</string>
                <key>spriteSourceSize</key>
                <string>{27,49}</string>
                <key>textureRect</key>
                <string>{{399,47},{27,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,46}</string>
                <key>spriteSourceSize</key>
                <string>{27,46}</string>
                <key>textureRect</key>
                <string>{{749,0},{27,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,49}</string>
                <key>spriteSourceSize</key>
                <string>{45,49}</string>
                <key>textureRect</key>
                <string>{{455,47},{45,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,46}</string>
                <key>spriteSourceSize</key>
                <string>{27,46}</string>
                <key>textureRect</key>
                <string>{{641,0},{27,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,46}</string>
                <key>spriteSourceSize</key>
                <string>{27,46}</string>
                <key>textureRect</key>
                <string>{{614,0},{27,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,46}</string>
                <key>spriteSourceSize</key>
                <string>{27,46}</string>
                <key>textureRect</key>
                <string>{{668,0},{27,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,46}</string>
                <key>spriteSourceSize</key>
                <string>{27,46}</string>
                <key>textureRect</key>
                <string>{{722,0},{27,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,46}</string>
                <key>spriteSourceSize</key>
                <string>{27,46}</string>
                <key>textureRect</key>
                <string>{{695,0},{27,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,48}</string>
                <key>spriteSourceSize</key>
                <string>{29,48}</string>
                <key>textureRect</key>
                <string>{{239,47},{29,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,49}</string>
                <key>spriteSourceSize</key>
                <string>{29,49}</string>
                <key>textureRect</key>
                <string>{{426,47},{29,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,47}</string>
                <key>spriteSourceSize</key>
                <string>{34,47}</string>
                <key>textureRect</key>
                <string>{{843,0},{34,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,47}</string>
                <key>spriteSourceSize</key>
                <string>{31,47}</string>
                <key>textureRect</key>
                <string>{{0,47},{31,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,47}</string>
                <key>spriteSourceSize</key>
                <string>{29,47}</string>
                <key>textureRect</key>
                <string>{{31,47},{29,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{150,47},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{180,47},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,49}</string>
                <key>spriteSourceSize</key>
                <string>{27,49}</string>
                <key>textureRect</key>
                <string>{{327,47},{27,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pai/value_redjoker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,147}</string>
                <key>spriteSourceSize</key>
                <string>{20,147}</string>
                <key>textureRect</key>
                <string>{{421,438},{20,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/bamboo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,327}</string>
                <key>spriteSourceSize</key>
                <string>{373,327}</string>
                <key>textureRect</key>
                <string>{{0,1071},{373,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/bigwinner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,80}</string>
                <key>spriteSourceSize</key>
                <string>{220,80}</string>
                <key>textureRect</key>
                <string>{{776,125},{220,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/bkg_avater.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,228}</string>
                <key>spriteSourceSize</key>
                <string>{140,228}</string>
                <key>textureRect</key>
                <string>{{138,788},{140,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/bkg_cut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{473,138}</string>
                <key>spriteSourceSize</key>
                <string>{473,138}</string>
                <key>textureRect</key>
                <string>{{492,300},{473,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/bkg_singlesettle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,460}</string>
                <key>spriteSourceSize</key>
                <string>{257,460}</string>
                <key>textureRect</key>
                <string>{{589,1071},{257,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/bkg_singlesettle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,498}</string>
                <key>spriteSourceSize</key>
                <string>{256,498}</string>
                <key>textureRect</key>
                <string>{{245,1531},{256,498}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/bkg_singlesettle_player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,283}</string>
                <key>spriteSourceSize</key>
                <string>{168,283}</string>
                <key>textureRect</key>
                <string>{{781,788},{168,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/bkg_totalsettle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{503,236}</string>
                <key>spriteSourceSize</key>
                <string>{503,236}</string>
                <key>textureRect</key>
                <string>{{278,788},{503,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/bkg_totalsettle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,481}</string>
                <key>spriteSourceSize</key>
                <string>{245,481}</string>
                <key>textureRect</key>
                <string>{{0,1531},{245,481}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/bkg_totalsettle_player.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,365}</string>
                <key>spriteSourceSize</key>
                <string>{216,365}</string>
                <key>textureRect</key>
                <string>{{373,1071},{216,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_agree1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{441,438},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_agree2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{606,438},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_backhall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,95}</string>
                <key>spriteSourceSize</key>
                <string>{238,95}</string>
                <key>textureRect</key>
                <string>{{304,205},{238,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,95}</string>
                <key>spriteSourceSize</key>
                <string>{238,95}</string>
                <key>textureRect</key>
                <string>{{542,205},{238,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_cut1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{495,603},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_cut2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{165,603},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_nocut1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{771,438},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_nocut2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{330,603},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_noout1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,78}</string>
                <key>spriteSourceSize</key>
                <string>{194,78}</string>
                <key>textureRect</key>
                <string>{{388,125},{194,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_noout2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,78}</string>
                <key>spriteSourceSize</key>
                <string>{194,78}</string>
                <key>textureRect</key>
                <string>{{614,47},{194,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_outcard1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,78}</string>
                <key>spriteSourceSize</key>
                <string>{194,78}</string>
                <key>textureRect</key>
                <string>{{808,47},{194,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_outcard2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,78}</string>
                <key>spriteSourceSize</key>
                <string>{194,78}</string>
                <key>textureRect</key>
                <string>{{582,125},{194,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_outcard3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,78}</string>
                <key>spriteSourceSize</key>
                <string>{194,78}</string>
                <key>textureRect</key>
                <string>{{194,125},{194,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_refuse1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{0,603},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_refuse2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{660,603},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,95}</string>
                <key>spriteSourceSize</key>
                <string>{238,95}</string>
                <key>textureRect</key>
                <string>{{780,205},{238,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/btn_tip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,78}</string>
                <key>spriteSourceSize</key>
                <string>{194,78}</string>
                <key>textureRect</key>
                <string>{{0,125},{194,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/handcard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,76}</string>
                <key>spriteSourceSize</key>
                <string>{82,76}</string>
                <key>textureRect</key>
                <string>{{532,47},{82,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/num_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,29}</string>
                <key>spriteSourceSize</key>
                <string>{24,29}</string>
                <key>textureRect</key>
                <string>{{200,0},{24,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{224,0},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{75,0},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{150,0},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{175,0},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{100,0},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/num_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{50,0},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/num_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{125,0},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/num_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{0,0},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/num_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{25,0},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/offline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,47}</string>
                <key>spriteSourceSize</key>
                <string>{92,47}</string>
                <key>textureRect</key>
                <string>{{910,0},{92,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/title_draw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,39}</string>
                <key>spriteSourceSize</key>
                <string>{72,39}</string>
                <key>textureRect</key>
                <string>{{362,0},{72,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/title_lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,51}</string>
                <key>spriteSourceSize</key>
                <string>{32,51}</string>
                <key>textureRect</key>
                <string>{{500,47},{32,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/title_singlesettle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,45}</string>
                <key>spriteSourceSize</key>
                <string>{139,45}</string>
                <key>textureRect</key>
                <string>{{475,0},{139,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/title_totalsettle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,101}</string>
                <key>spriteSourceSize</key>
                <string>{492,101}</string>
                <key>textureRect</key>
                <string>{{0,300},{492,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui/title_win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{434,0},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>k510.pvr.ccz</string>
            <key>size</key>
            <string>{1018,2029}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31ff3ef1be64a03fd8b1666b29c25313:2bc6ef327312e5a9cc76090926771abe:852cff7af01e5701d0d19735b722a039$</string>
            <key>textureFileName</key>
            <string>k510.pvr.ccz</string>
        </dict>
    </dict>
</plist>
