<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,125},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,166},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,248},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,330},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,494},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card4_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,371},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>card5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
            <key>cardback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,162}}</string>
                <key>sourceSize</key>
                <string>{121,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1765,617}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10cf90472a6fe3da64247ef0d796fb93:1b60ca4ad61c07c7d3e8add6d3a8ed92:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
