<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bull/10bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,916},{146,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,74}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>bull/1bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,588},{146,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,74}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>bull/2bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,675},{146,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,74}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>bull/3bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,664},{146,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,74}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>bull/5bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,740},{146,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,74}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>bull/bidno.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,760},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>bull/bidyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,522},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,72}}</string>
                <key>sourceSize</key>
                <string>{144,72}</string>
            </dict>
            <key>bull/btnMoreBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,121},{334,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,91}}</string>
                <key>sourceSize</key>
                <string>{334,91}</string>
            </dict>
            <key>bull/btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,457},{260,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,78}}</string>
                <key>sourceSize</key>
                <string>{260,78}</string>
            </dict>
            <key>bull/btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,714},{260,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,78}}</string>
                <key>sourceSize</key>
                <string>{260,78}</string>
            </dict>
            <key>bull/btn_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,916},{232,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,73}}</string>
                <key>sourceSize</key>
                <string>{232,73}</string>
            </dict>
            <key>bull/btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,794},{260,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,78}}</string>
                <key>sourceSize</key>
                <string>{260,78}</string>
            </dict>
            <key>bull/bullno.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,257},{177,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,84}}</string>
                <key>sourceSize</key>
                <string>{177,84}</string>
            </dict>
            <key>bull/bullyes.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,343},{177,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,84}}</string>
                <key>sourceSize</key>
                <string>{177,84}</string>
            </dict>
            <key>bull/clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,121},{156,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,134}}</string>
                <key>sourceSize</key>
                <string>{156,134}</string>
            </dict>
            <key>bull/dayingja.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,634},{242,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,78}}</string>
                <key>sourceSize</key>
                <string>{242,78}</string>
            </dict>
            <key>bull/di.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,172},{237,453}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,453}}</string>
                <key>sourceSize</key>
                <string>{237,453}</string>
            </dict>
            <key>bull/fly.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,321},{279,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,134}}</string>
                <key>sourceSize</key>
                <string>{279,134}</string>
            </dict>
            <key>bull/gameSpeak_Img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{800,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,62}}</string>
                <key>sourceSize</key>
                <string>{800,62}</string>
            </dict>
            <key>bull/goback.png</key>
            <dict>
                <key>frame</key>
                <string>{{1295,816},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>bull/haveniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,172},{538,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,50}}</string>
                <key>sourceSize</key>
                <string>{538,50}</string>
            </dict>
            <key>bull/headbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,343},{107,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,162}}</string>
                <key>sourceSize</key>
                <string>{107,162}</string>
            </dict>
            <key>bull/headcircle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,829},{122,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,179}}</string>
                <key>sourceSize</key>
                <string>{122,179}</string>
            </dict>
            <key>bull/ipBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,675},{193,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,40}}</string>
                <key>sourceSize</key>
                <string>{193,40}</string>
            </dict>
            <key>bull/ipToastTextBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,214},{319,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,105}}</string>
                <key>sourceSize</key>
                <string>{319,105}</string>
            </dict>
            <key>bull/jiesuanbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,172},{223,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,460}}</string>
                <key>sourceSize</key>
                <string>{223,460}</string>
            </dict>
            <key>bull/kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{246,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,460}}</string>
                <key>sourceSize</key>
                <string>{246,460}</string>
            </dict>
            <key>bull/offLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,712},{155,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,78}}</string>
                <key>sourceSize</key>
                <string>{155,78}</string>
            </dict>
            <key>bull/ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,588},{149,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,85}}</string>
                <key>sourceSize</key>
                <string>{149,85}</string>
            </dict>
            <key>bull/robotSp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,969},{56,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,51}}</string>
                <key>sourceSize</key>
                <string>{56,51}</string>
            </dict>
            <key>bull/rom_owner.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,109},{102,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,35}}</string>
                <key>sourceSize</key>
                <string>{102,35}</string>
            </dict>
            <key>bull/roomInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,596},{143,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,72}}</string>
                <key>sourceSize</key>
                <string>{143,72}</string>
            </dict>
            <key>bull/sort.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{461,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{461,117}}</string>
                <key>sourceSize</key>
                <string>{461,117}</string>
            </dict>
            <key>bull/stakebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{841,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{841,104}}</string>
                <key>sourceSize</key>
                <string>{841,104}</string>
            </dict>
            <key>bull/stakeover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,760},{132,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,59}}</string>
                <key>sourceSize</key>
                <string>{132,59}</string>
            </dict>
            <key>bull/text_totalscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{105,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,37}}</string>
                <key>sourceSize</key>
                <string>{105,37}</string>
            </dict>
            <key>bull/timeprogress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,670},{88,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,112}}</string>
                <key>sourceSize</key>
                <string>{88,112}</string>
            </dict>
            <key>bull/waitstake.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,537},{250,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,49}}</string>
                <key>sourceSize</key>
                <string>{250,49}</string>
            </dict>
            <key>bull/zhuangText.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,819},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,66}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>public/anniu_dingwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,607},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/anniu_dingwei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,607},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/anniu_dingwei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,823},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/anniu_dingwei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,744},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/anniu_dingwei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,671},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/anniu_dingwei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,744},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/anniu_dingwei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,823},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/anniu_dingwei_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,886},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/anniu_guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,906},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/anniu_guize_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,894},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/anniu_jiesan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,960},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/anniu_jiesan_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,960},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/anniu_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,870},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/anniu_shezhi_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,887},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/anniu_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,945},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/anniu_tuichu_dk.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,951},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/btnGameChat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,671},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>public/btnGameChat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,886},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>public/btnGameVoice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,887},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>public/btnGameVoice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,887},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>public/btn_more1.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,950},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/btn_more2.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,957},{62,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,73}}</string>
                <key>sourceSize</key>
                <string>{62,73}</string>
            </dict>
            <key>public/btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,816},{146,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,68}}</string>
                <key>sourceSize</key>
                <string>{146,68}</string>
            </dict>
            <key>public/btn_send_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,452},{146,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,68}}</string>
                <key>sourceSize</key>
                <string>{146,68}</string>
            </dict>
            <key>public/chatBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,627},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>public/chatInnerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,522},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>public/chatLTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,172},{382,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,58}}</string>
                <key>sourceSize</key>
                <string>{382,58}</string>
            </dict>
            <key>public/chatLab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{119,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,30}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>public/chatLab2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,990},{119,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,30}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>public/chatLab2_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,760},{119,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,30}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>public/chatLab3_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,991},{119,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,30}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>public/chatLab3_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,992},{119,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,30}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>public/chatRTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,588},{170,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,38}}</string>
                <key>sourceSize</key>
                <string>{170,38}</string>
            </dict>
            <key>public/chatRTitleBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,874},{343,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,40}}</string>
                <key>sourceSize</key>
                <string>{343,40}</string>
            </dict>
            <key>public/invitebtn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{354,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,121}}</string>
                <key>sourceSize</key>
                <string>{354,121}</string>
            </dict>
            <key>public/invitebtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,634},{354,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,121}}</string>
                <key>sourceSize</key>
                <string>{354,121}</string>
            </dict>
            <key>public/poparrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,746},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>public/popbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,746},{68,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,48}}</string>
                <key>sourceSize</key>
                <string>{68,48}</string>
            </dict>
            <key>public/split.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,634},{374,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,2}}</string>
                <key>sourceSize</key>
                <string>{374,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bull.pvr.ccz</string>
            <key>size</key>
            <string>{1357,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba945610ad6eeccc737f446365cd669c:5cb88be1caa6c9cfdcdec774b0929847:3b47d03db640595b345b57b830da2f7e$</string>
            <key>textureFileName</key>
            <string>bull.pvr.ccz</string>
        </dict>
    </dict>
</plist>
