<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mjAnima/btn_operator_cancel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1395},{91,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{91,65}}</string>
                <key>sourceSize</key>
                <string>{125,97}</string>
            </dict>
            <key>mjAnima/btn_operator_cancel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1924},{113,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{113,87}}</string>
                <key>sourceSize</key>
                <string>{125,97}</string>
            </dict>
            <key>mjAnima/btn_operator_cancel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1834},{123,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{123,97}}</string>
                <key>sourceSize</key>
                <string>{125,97}</string>
            </dict>
            <key>mjAnima/btn_operator_chi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1596},{149,116}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{149,116}}</string>
                <key>sourceSize</key>
                <string>{197,158}</string>
            </dict>
            <key>mjAnima/btn_operator_chi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,535},{193,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{193,156}}</string>
                <key>sourceSize</key>
                <string>{197,158}</string>
            </dict>
            <key>mjAnima/btn_operator_chi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,693},{193,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{193,156}}</string>
                <key>sourceSize</key>
                <string>{197,158}</string>
            </dict>
            <key>mjAnima/btn_operator_gang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1604},{142,113}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{142,113}}</string>
                <key>sourceSize</key>
                <string>{188,155}</string>
            </dict>
            <key>mjAnima/btn_operator_gang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,851},{184,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{184,155}}</string>
                <key>sourceSize</key>
                <string>{188,155}</string>
            </dict>
            <key>mjAnima/btn_operator_gang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1008},{184,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{184,153}}</string>
                <key>sourceSize</key>
                <string>{188,155}</string>
            </dict>
            <key>mjAnima/btn_operator_guo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1325},{70,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{70,68}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>mjAnima/btn_operator_guo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1835},{92,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{92,86}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>mjAnima/btn_operator_guo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1933},{102,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{102,98}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>mjAnima/btn_operator_hu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1719},{128,114}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{128,114}}</string>
                <key>sourceSize</key>
                <string>{172,156}</string>
            </dict>
            <key>mjAnima/btn_operator_hu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1311},{170,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,154}}</string>
                <key>sourceSize</key>
                <string>{172,156}</string>
            </dict>
            <key>mjAnima/btn_operator_hu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1325},{168,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{168,154}}</string>
                <key>sourceSize</key>
                <string>{172,156}</string>
            </dict>
            <key>mjAnima/btn_operator_peng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1714},{134,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{134,118}}</string>
                <key>sourceSize</key>
                <string>{182,162}</string>
            </dict>
            <key>mjAnima/btn_operator_peng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{180,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{180,160}}</string>
                <key>sourceSize</key>
                <string>{182,162}</string>
            </dict>
            <key>mjAnima/btn_operator_peng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1163},{180,160}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{180,160}}</string>
                <key>sourceSize</key>
                <string>{182,162}</string>
            </dict>
            <key>mjAnima/btn_operator_ting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1933},{86,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{86,99}}</string>
                <key>sourceSize</key>
                <string>{118,131}</string>
            </dict>
            <key>mjAnima/btn_operator_ting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1929},{106,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{106,119}}</string>
                <key>sourceSize</key>
                <string>{118,131}</string>
            </dict>
            <key>mjAnima/btn_operator_ting3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1604},{116,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{116,131}}</string>
                <key>sourceSize</key>
                <string>{118,131}</string>
            </dict>
            <key>mjAnima/btn_operator_zimo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1481},{158,121}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{158,121}}</string>
                <key>sourceSize</key>
                <string>{206,161}</string>
            </dict>
            <key>mjAnima/btn_operator_zimo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,374},{202,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{202,159}}</string>
                <key>sourceSize</key>
                <string>{206,161}</string>
            </dict>
            <key>mjAnima/btn_operator_zimo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1021},{204,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{204,159}}</string>
                <key>sourceSize</key>
                <string>{206,161}</string>
            </dict>
            <key>mjAnima/img_logo_bg_flik1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1835},{87,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,123}}</string>
                <key>sourceSize</key>
                <string>{87,123}</string>
            </dict>
            <key>mjAnima/img_logo_bg_flik2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1737},{85,121}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,121}}</string>
                <key>sourceSize</key>
                <string>{87,123}</string>
            </dict>
            <key>mjAnima/img_mjbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1467},{127,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{127,167}}</string>
                <key>sourceSize</key>
                <string>{129,167}</string>
            </dict>
            <key>mjAnima/img_operator_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{208,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{208,173}}</string>
                <key>sourceSize</key>
                <string>{208,175}</string>
            </dict>
            <key>mjAnima/img_operator_dianpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,142}}</string>
                <key>sourceSize</key>
                <string>{230,142}</string>
            </dict>
            <key>mjAnima/img_operator_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{219,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{219,173}}</string>
                <key>sourceSize</key>
                <string>{219,175}</string>
            </dict>
            <key>mjAnima/img_operator_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{208,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{208,173}}</string>
                <key>sourceSize</key>
                <string>{208,175}</string>
            </dict>
            <key>mjAnima/img_operator_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{208,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{208,173}}</string>
                <key>sourceSize</key>
                <string>{208,175}</string>
            </dict>
            <key>mjAnima/img_operator_qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{208,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{208,173}}</string>
                <key>sourceSize</key>
                <string>{208,175}</string>
            </dict>
            <key>mjAnima/img_operator_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{173,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,127}}</string>
                <key>sourceSize</key>
                <string>{173,127}</string>
            </dict>
            <key>mjAnima/img_operatorting.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,164},{208,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,187}}</string>
                <key>sourceSize</key>
                <string>{208,187}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mjanima.pvr.ccz</string>
            <key>size</key>
            <string>{416,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9aad54857d2fa8b5ec326906acd5d2d0:58710832e72e089fe30e837c31d7ddc6:d547ea4dd7fee954d16196cb9122d9be$</string>
            <key>textureFileName</key>
            <string>mjanima.pvr.ccz</string>
        </dict>
    </dict>
</plist>
